In [1]:
import pandas as pd
import os
import gmaps
import numpy

gkey = 'AIzaSyCYpNPPWmseixMrMSeqe61EJyC7RdLXB4E'

# Access maps with unique API key
gmaps.configure(api_key=gkey)


csv_path = "Capitalbikesharedata_longlat2010_new.csv"
data = pd.read_csv(csv_path)
data.head()

,Duration,Start date,End date,Start station #,Start station,Start Station Lat,Start Station Lng,End station #,End station,LATITUDE,LONGITUDE,Bike number,Member type,LOCKED,INSTALL_DATE,REMOVAL_DATE,NUMBER_OF_BIKES
0,418.0,9/21/10 9:01,9/21/10 8:09,31505.0,Crystal City Metro / 18th & Bell St,38.910972,-77.00495,31805,20th & Crystal Dr,38.944551,-77.063896,W00745,Member,NO,NaN,NaN,1.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31805,15th & Crystal Dr,38.873057,-76.971015,NaN,NaN,NaN,NaN,NaN,NaN
2,465.0,9/21/10 10:56,9/21/10 9:11,31225.0,14th & Rhode Island Ave NW,38.903750,-77.06269,31804,26th & S Clark St,38.932514,-76.992889,W00519,Member,NO,NaN,NaN,6.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31804,14th & R St NW,38.865784,-76.978400,NaN,NaN,NaN,NaN,NaN,NaN
4,786.0,9/20/10 22:12,9/20/10 21:08,31601.0,5th & K St NW,38.889600,-76.97690,31802,Massachusetts Ave & Dupont Circle NW,38.873057,-76.971015,W00961,Member,NO,NaN,NaN,4.0

In [2]:
df = data

newdf = data[df.columns[9:11]]
#print(newdf.head())

len(newdf)

197

In [3]:
# Customize the size of the figure
figure_layout = {
    'width': '600px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [4]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(newdf)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦