In [1]:
import pandas as pd
import os
import gmaps
import numpy

gkey = 'AIzaSyCYpNPPWmseixMrMSeqe61EJyC7RdLXB4E'

# Access maps with unique API key
gmaps.configure(api_key=gkey)


csv_path = "Capitalbikesharedata_longlat2011_new.csv"
data = pd.read_csv(csv_path)
data.head()

,Duration,Start date,End date,Start station #,Start station,Start Station Lat,Start Station Lng,End station #,End station,LATITUDE,LONGITUDE,Bike number,Member type,LOCKED
0,259.0,1/3/11 18:22,1/3/11 17:45,31502.0,14th & V St NW,38.917600,-77.032100,31000,Convention Center / 7th & M St NW,38.905737,-77.022270,W00219,Member,NO
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31000,Ward Circle / American University,38.938736,-77.087171,NaN,NaN,NaN
2,417.0,1/1/11 10:41,1/1/11 10:48,31107.0,Lamont & Mt Pleasant NW,38.931900,-77.038800,31001,New Hampshire Ave & T St NW,38.915540,-77.038180,W00599,Member,NO
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31001,19th & L St NW,38.903407,-77.043648,NaN,NaN,NaN
4,671.0,1/3/11 10:38,1/3/11 9:55,31226.0,Maine Ave & 7th St SW,38.878694,-77.023054,31002,Georgetown Harbor / 30th St NW,38.902221,-77.059219,W00766,Member,NO

In [2]:
df = data

newdf = data[df.columns[9:11]]
#print(newdf.head())
len(newdf)

276

In [3]:
# Customize the size of the figure
figure_layout = {
    'width': '600px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [4]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(newdf)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦