In [1]:
import pandas as pd
import os
import gmaps
import numpy

gkey = 'AIzaSyCYpNPPWmseixMrMSeqe61EJyC7RdLXB4E'

# Access maps with unique API key
gmaps.configure(api_key=gkey)


csv_path = "2012_capmap1.csv"
data = pd.read_csv(csv_path)
data.head()

,Duration,Start date,End date,Start station #,Start Station Lat,Start Station Lng,End station #,LATITUDE,LONGITUDE,Bike number
0,W00544,616.0,1/2/12 11:52,31619.0,38.896960,-77.004930,31000,38.944551,-77.063896,W00544
1,W00049,616.0,1/1/12 13:30,31008.0,38.908600,-77.032300,31001,38.890461,-76.988355,W00049
2,W01234,438.0,1/3/12 11:29,31621.0,38.903407,-77.043648,31002,38.920669,-77.043680,W01234
3,W00045,362.0,1/2/12 17:01,31103.0,38.884000,-76.995397,31003,38.890461,-76.988355,W00045
4,W00186,224.0,1/3/12 17:28,31501.0,38.900800,-77.047000,31004,38.902061,-77.038322,W00186

In [2]:
df = data

newdf = data[df.columns[7:9]]
#print(newdf.head())

len(newdf)

191

In [3]:
# Customize the size of the figure
figure_layout = {
    'width': '600px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [4]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(newdf)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦