In [1]:
import pandas as pd
import os
import gmaps
import numpy

gkey = 'AIzaSyCYpNPPWmseixMrMSeqe61EJyC7RdLXB4E'

# Access maps with unique API key
gmaps.configure(api_key=gkey)


csv_path = "2013_capmap.csv"
data = pd.read_csv(csv_path)
data.head()

   31000  38.899632  -77.031686
0  31001  38.893401  -77.085867
1  31002  38.889955  -77.000349
2  31003  38.912719  -77.022155
3  31004  38.903407  -77.043648
4  31005  38.882915  -76.987907

In [2]:
df = data

newdf = data[df.columns[1:3]]
#print(newdf.head())

len(newdf)

286

In [3]:
# Customize the size of the figure
figure_layout = {
    'width': '600px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [4]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(newdf)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦