In [1]:
import pandas as pd
import os
import gmaps
import numpy

# Google developer API key
from config import gkey

# Access maps with unique API key
gmaps.configure(api_key=gkey)


csv_path = "Capital_Bike_Share_Locations.csv"
capital_bikeshare = pd.read_csv(csv_path)

capital_bikeshare.head()

,OBJECTID,ID,ADDRESS,TERMINAL_NUMBER,LATITUDE,LONGITUDE,INSTALLED,LOCKED,INSTALL_DATE,REMOVAL_DATE,TEMPORARY_INSTALL,NUMBER_OF_BIKES,NUMBER_OF_EMPTY_DOCKS,X,Y,SE_ANNO_CAD_DATA,OWNER
0,222374669,63,Ward Circle / American University,31301,38.938736,-77.087171,YES,NO,NaN,NaN,NO,5,10,392442.557789,141208.931518,NaN,DC
1,222374670,64,Wisconsin Ave & Newark St NW,31302,38.934881,-77.072755,YES,NO,NaN,NaN,NO,0,16,393692.036758,140779.898078,NaN,DC
2,222374671,65,14th St Heights / 14th & Crittenden St NW,31402,38.947774,-77.032818,YES,NO,NaN,NaN,NO,6,5,397155.146440,142209.133100,NaN,DC
3,222374672,66,Anacostia Library,31804,38.865784,-76.978400,YES,NO,NaN,NaN,NO,10,1,401874.566171,133107.284394,NaN,DC
4,222374673,67,Pennsylvania & Minnesota Ave SE,31805,38.873057,-76.971015,YES,NO,NaN,NaN,NO,7,4,402515.220511,133914.818919,NaN,DC

In [2]:
df = capital_bikeshare

newdf = capital_bikeshare[df.columns[4:6]]
#print(newdf.head())


listtest = newdf.values

In [3]:
# Customize the size of the figure
figure_layout = {
    'width': '600px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [4]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(listtest)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wiâ€¦